target
.classpath
*.iml
*.iws
*.ipr
*.ids
**.idea/
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
plugins/*
/web-app/plugins
/web-app/WEB-INF/classes
overlays
*.war
/test/reports
adglue/.project
adglue/target-eclipse
*.DS_Store
**.sass-cache/
